
<div class="row">&nbsp;</div>
<div class="jumbotron">
	<div class="row">
		<form>
			<tabset>
		    	<tab heading="Orden de Facbricación">
		    		<div class="row">&nbsp;</div>
					<div class="col-md-6 col-md-offset-3">
			        	<div class="input-group input-group-xs">
				            <input type="text" class="form-control" placeholder="">
				            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
				        </div>	
					</div>
		    	</tab>
		    	<tab heading="Top / Bottom">
		    		<div class="row">&nbsp;</div>
		    		<div class="col-md-6 col-md-offset-3">
						<div class="btn-group">
					        <label class="btn btn-success btn-lg" ng-model="radioModel" btn-radio="'bottom'" uncheckable>bottom</label>
					        <label class="btn btn-success btn-lg" ng-model="radioModel" btn-radio="'top'" uncheckable>top</label>
					    </div>
					</div>
		    	</tab>
		    	<tab heading="Cod. Entrada">
		    		<div class="row">&nbsp;</div>
					<div class="col-md-6 col-md-offset-3">
			        	<div class="input-group input-group-xs">
				            <input type="text" class="form-control" placeholder="">
				            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
				        </div>	
					</div>
		    	</tab>
		    </tabset>
		</form>
		<div class="row">&nbsp;</div>
	</div>
</div>

<div class="row">
	<div class="gridStyle" ng-grid="gridOptions"></div>
</div>