
<div class="row">&nbsp;</div>
<div class="jumbotron">{{kk}}
	<div class="row">
		<form>
			<tabset>
		    	<tab heading="Orden de Facbricación" active="mytabs.static1">
		    		<div class="row">&nbsp;</div>
					<div class="col-md-6 col-md-offset-3">
			        	<div class="input-group input-group-xs">
				            <input type="text" class="form-control" placeholder="" ng-enter="checkof()" ng-model="registro.of" autofocus>
				            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
				        </div>	
					</div>
		    	</tab>
		    	<tab heading="Top / Bottom" active="mytabs.static2">
		    		<div class="row">&nbsp;</div>
		    		<div class="col-md-6 col-md-offset-3">
                        <span class="label label-primary">Oferta: {{ registro.of }}</span>
                        <span class="label label-primary">Articulo: {{ registro.articulo }}</span>
						<div class="btn-group">
					        <label class="btn btn-success btn-lg" ng-model="radioModel" btn-radio="'bottom'" uncheckable ng-click="siguiente(1)"  trigger-focus-on="codentrada">bottom</label>
					        <label class="btn btn-success btn-lg" ng-model="radioModel" btn-radio="'top'" uncheckable ng-click="siguiente(1)"  trigger-focus-on="codentrada">top</label>
					    </div>
					</div>
		    	</tab>
		    	<tab heading="Cod. Entrada" active="mytabs.static3" trigger-focus-on="codentrada">
		    		<div class="row">&nbsp;</div>
					<div class="col-md-6 col-md-offset-3">
			        	<div class="input-group input-group-xs">
				            <input id="codentrada" type="text" class="form-control" placeholder=""  ng-enter="siguiente(2)" focus-me="shouldBeOpen">
				            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
				        </div>	
					</div>
		    	</tab>
                <tab heading="Confirmar" active="mytabs.static4">
                    <div class="row">&nbsp;</div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="input-group input-group-xs">
                            <button class="btn btn-success">Confirmar</button>
                        </div>
                    </div>
                </tab>
		    </tabset>
		</form>
		<div class="row">&nbsp;</div>
	</div>
</div>

<div class="row">
	<div class="gridStyle" ng-grid="gridOptions"></div>
</div>